canny_low           60
canny_high          180
down_sample_ratio   0.9
down_sample_thres   10000
sketch_side_length  100
partition_num       8
candidate_num       1000
patch_length        40
shift_length        10
grid_num            3
bin_num             8
sh_param            40.param
flip_cost           0.011
rotate_cost         0.213
variance_cost       6.772057
shift_cost          0.10